.text-style {
    color: green;
    font-size: medium;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
    padding: 1rem;
}

.head-style {
    color: darkslategray;
    font-size: x-large;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
    padding: 1rem;
    background-color: green;
}