{% extends "base.html.twig" %}

{% block body %}
    <h1>Articles:</h1>
    {% for art in articleArray %}
        <li><a href="{{ path('showArticleDetail', { articleID: art.getId()}) }}">{{ art.getTitle() }}</a></li>
    {% endfor %}
{% endblock %}